body {
  background-color: #356;
  color:            #fee;
  text-align:       center;
  font-family:      Verdana, Geneva, Helvetica, Arial, sans-serif;
}
div.center {
  margin-top:       12em;
}
a {
  color:            #fee;
}
a img {
  border:           none;
}
p.bloglink {
  margin-top:       4em;
}
